.GeneralContainer{
    border:2px solid red;
    display: flex;
    align-items: center;
        .ProductsContainer{
            border: 2px solid blue;
            flex-direction: column;
            padding: 2em;
            width: 75%;
            .ProductContainer{
                border: 2px solid green;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .NameContainer{
                    flex: 2;
                }
                .PriceContainer{
                    flex: 2;
                }
                .DeleteContainer{
                    flex: 1;
                }
            }
        }
}