.Super {
  display: flex;
  justify-content: center;

  .CartGeneralContainer {
    flex-direction: row;
    align-items: flex-end;
    padding: 5em;
    width: 70%;

    .MainContainer {
      flex: 5;

      .ProductsContainer {
        flex-direction: column;
        padding: 2em;
        width: 100%;

        .ProductContainer {
          display: flex;
          justify-content: space-around;
          align-items: center;

          .NameContainer {
            flex: 5;
          }

          .PriceContainer {
            flex: 3;
          }

          .DeleteContainer {
            flex: 1;
            border-radius: 5px;
            border-width: 1px;
          }
        }
      }

      .GlobalInfoContainer {
        flex-direction: column;
        padding: 2em;
        width: 100%;

        .InfoContainer {
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-weight: 500;

          .QuantityContainer {
            flex: 5;
          }

          .TotalContainer {
            flex: 3;
          }

          .ClearContainer {
            flex: 1;
            font-weight: 500;
            border-radius: 5px;
            border-width: 1px;
          }
        }
      }
    }

    .OrderContainer {
      display: flex;
      justify-content: center;
      flex: 1;
      padding: 2em;

      button {
        border: none;
        border-radius: 5px;
        background-color: rgba(128, 0, 128, 0.514);
        font-weight: 700;
      }
    }
  }

  button:hover {
    cursor: pointer;
    color: purple;
    border-color: purple;
  }

  .ModalContainer {
    display: flex;
    flex-direction: column;
  }
}