.ProductsContainer{
    display:grid;
   grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); 
  padding: 2em;
  grid-gap: 4em;
  margin-top: 2em;
  border-radius: 10px;
   div{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
   }
}