.GeneralContainer {
  display: flex;
  justify-content: center;
  // flex-wrap: wrap;
  flex-direction: column;
  .ProfileContainer {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: auto;
    padding: 2em;
    .AvatarContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: purple;
      flex: 20%;
    }
    .DataContainer {
      background-color: green;
      flex: 80%;
      padding: 1em;
    }
  }
  .OrdersContainer {
    padding: 2em;
    .TicketsContainer {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .TicketContainer{
        margin:1em;
        background-color: grey;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding:1em;
        .ProductsContainer {
            align-items: center;
            min-height: 30vh;
        }
      }
      .TotalContainer{
        justify-content: center;
      }
    }
  }
}
