.CentralContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../../Assets/fondovinilo.webp');
    background-position: center;
    flex: 1;
    background-size: cover;
}
