header{
	display: flex;
	justify-content: space-around;
	padding: 1.5em;
	background-color: lightgray;
	span{
		a{
			color: black;
			font-weight: 600;
			font-size: 15px;
		}
		:hover{
			color: purple;
		}
	}
	button{
		border: none;
		border-radius: 10px;
		background-color: rgba(128, 0, 128, 0.514);
		a{
			color: black;
			font-weight: 500;
			font-size: 15px;
		}
		:hover{
			color: purple;
		}
	}
}